//viết bằng scss
.login-background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

    .login-container {
        width: 400px;
        height: 450px;
        /* border: 1px solid red; */
        background-color: white;
        border-radius: 16px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        // 1px 2px 3px 4px
        // top right bottom left
        // 0 auto
        // top bottom
        // right left

        .login-content {
            padding: 10px;


            .text-login {
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 8px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        top: 28%;
                        right: 16px;
                    }
                }
    
            }

            button.btn-login {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 16px;
                outline: none;
                border: none;
                
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);   
            
                color: white;
                font-size: 16px;
            }

            

            .forgot-password {
                font-size: 12px;
            }
         
            .social-login {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 16px;
                i {
                    font-size: 36px;
                    padding: 0 24px;
                }
                .fa-google {
                    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                }

                .fa-facebook {
                    font-size: 38px;
                    color: #4285f4;
                }
            }





        }
    }
}



